
/* Remove default styling that could interfere with our design */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.fade-transition-enter {
  opacity: 0;
  transform: translateY(10px);
}
.fade-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-transition-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-transition-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms, transform 300ms;
}
